
@{
    ViewBag.Title = "Pesquisar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section scrollspy" id="work">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body paddingCard">
                    <div class="col-md-12">
                        <div class="row">
                            <span>
                                Comidas
                            </span>
                            <ul>
                                <li class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" value="" />
                                        <span>Comida Japonesa</span>
                                    </label>
                                </li>
                                <li class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" value="" />
                                        <span>Lanches</span>
                                    </label>
                                </li>
                                <li class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" value="" />
                                        <span>Pizza</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <span>
                                Pagamento
                            </span>
                            <ul>
                                <li class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" />
                                        <span>À Vista</span>
                                    </label>
                                </li>
                                <li class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Cartão de Crédito</span>
                                    </label>
                                </li>
                                <li class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Pagamento Online</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-outlined style-danger">
                        <div class="card-body paddingCard">
                            <figure>
                                <a>
                                    <img src="~/Imagens/teste06.jpg" class="logoCard" />
                                </a>
                            </figure>
                            <section class="notPadding">
                                <header>
                                    <h3>
                                        <a href="#">Restaurante Blá Blá Blá 2</a>
                                    </h3>
                                </header>
                                <span class="md-location-on" style="margin-right: 15px">
                                    <small>Rua Sem Fim</small>
                                </span>
                                <span class="md-local-restaurant">
                                    <small>Comida Japonesa</small>
                                </span>
                                <br />
                                <button class="btn btn-default btn-block">Ver Menu</button>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-outlined style-danger">
                        <div class="card-body paddingCard">
                            <figure>
                                <a>
                                    <img src="~/Imagens/teste06.jpg" class="logoCard" />
                                </a>
                            </figure>
                            <section class="notPadding">
                                <header>
                                    <h3>
                                        <a href="#">Restaurante Blá Blá Blá 2</a>
                                    </h3>
                                </header>
                                <span class="md-location-on" style="margin-right: 15px">
                                    <small>Rua Sem Fim</small>
                                </span>
                                <span class="md-local-restaurant">
                                    <small>Comida Japonesa</small>
                                </span>
                                <br />
                                <a href="@Url.Action("Index", "Restaurante")" style="text-decoration: none !important">
                                    <span class="btn btn-block waves-effect waves-light red darken-1 white-text">Ver Menu</span>
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-outlined style-danger">
                        <div class="card-body paddingCard">
                            <figure>
                                <a>
                                    <img src="~/Imagens/teste06.jpg" class="logoCard" />
                                </a>
                            </figure>
                            <section class="notPadding">
                                <header>
                                    <h3>
                                        <a href="#">Restaurante Blá Blá Blá 2</a>
                                    </h3>
                                </header>
                                <span class="md-location-on" style="margin-right: 15px">
                                    <small>Rua Sem Fim</small>
                                </span>
                                <span class="md-local-restaurant">
                                    <small>Comida Japonesa</small>
                                </span>
                                <br />
                                <button class="btn btn-default btn-block">Ver Menu</button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-outlined style-danger">
                        <div class="card-body paddingCard">
                            <figure>
                                <a>
                                    <img src="~/Imagens/teste06.jpg" class="logoCard" />
                                </a>
                            </figure>
                            <section class="notPadding">
                                <header>
                                    <h3>
                                        <a href="#">Restaurante Blá Blá Blá 2</a>
                                    </h3>
                                </header>
                                <span class="md-location-on" style="margin-right: 15px">
                                    <small>Rua Sem Fim</small>
                                </span>
                                <span class="md-local-restaurant">
                                    <small>Comida Japonesa</small>
                                </span>
                                <br />
                                <button class="btn btn-default btn-block">Ver Menu</button>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-outlined style-danger">
                        <div class="card-body paddingCard">
                            <figure>
                                <a>
                                    <img src="~/Imagens/teste06.jpg" class="logoCard" />
                                </a>
                            </figure>
                            <section class="notPadding">
                                <header>
                                    <h3>
                                        <a href="#">Restaurante Blá Blá Blá 2</a>
                                    </h3>
                                </header>
                                <span class="md-location-on" style="margin-right: 15px">
                                    <small>Rua Sem Fim</small>
                                </span>
                                <span class="md-local-restaurant">
                                    <small>Comida Japonesa</small>
                                </span>
                                <br />
                                <button class="btn btn-default btn-block">Ver Menu</button>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-outlined style-danger">
                        <div class="card-body paddingCard">
                            <figure>
                                <a>
                                    <img src="~/Imagens/teste06.jpg" class="logoCard" />
                                </a>
                            </figure>
                            <section class="notPadding">
                                <header>
                                    <h3>
                                        <a href="#">Restaurante Blá Blá Blá 2</a>
                                    </h3>
                                </header>
                                <span class="md-location-on" style="margin-right: 15px">
                                    <small>Rua Sem Fim</small>
                                </span>
                                <span class="md-local-restaurant">
                                    <small>Comida Japonesa</small>
                                </span>
                                <br />
                                <button class="btn btn-default btn-block">Ver Menu</button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
